body {
    background-color: #EFE2BA;
    color: #F13C20;
}

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    background-color:#0c0c0c
}

.card .card-header {
    font-weight: 500;
    font-family:'cubao_font', sans-serif;
    color: #4056A1;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    font-family:'cubao_font', sans-serif;
    color: #4056A1;
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #EFE2BA;
    background-color: #EFE2BA;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.mb-3{
    font-family:'quiapo_font', sans-serif;
    color: #D79922;
}

.btn{
    background-color: #D79922;
    font-family: 'kagitingan_font', sans-serif;
    color: #020109;
    border-color:#747474;
}

.nav-borders .nav-link.active {
    color: white;
    border-bottom-color: white;
}

.nav-borders .nav-link {
    color: #020109;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sb {
    width: 75%;
    /* Set the width to 75% of the container */
    display: block;
    /* Make the button a block element */
    margin: 0 auto;
    /* Center the button */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 0 20%;
    /* this will create 5 equal columns */
    max-width: 20%;
    padding: 0.75rem;
    text-align: justify;
    /* optional, if you want the text to be centered */
}

.full-height {
    height: 85vh;
}

.buttons {
    padding: 5% 0 0 0;
}

#concern {
    resize: none;
}


@font-face {
    font-family: 'cubao_font';
    src: url('cubao_font.ttf');
}

@font-face {
    font-family: 'quiapo_font';
    src: url('quiapo_font.ttf');
}

@font-face {
    font-family: 'kagitingan_font';
    src: url('kagitingan_font.ttf');
}

@font-face {
    font-family: 'baybayin_font';
    src: url('baybayin_font.ttf');
}