/* Default styles */

/* Flex layout for small screens */
@media (max-width: 767.98px) {
    #content {
        flex-direction: column;
    }
}

.navbar{
    background-color: black;
    color: white;
}

.container-fluid{
    background-color:#C5CBE3;
}

.navbar-brand{
    font-family:'cubao_font',sans-serif; 
    color:#4056A1;
}

.nav-item{
    font-family:'cubao_font',sans-serif;
    color:#4056A1;
}

@font-face {
    font-family: 'cubao_font';
    src: url('cubao_font.ttf');
}

@font-face {
    font-family: 'quiapo_font';
    src: url('quiapo_font.ttf');
}

@font-face {
    font-family: 'kagitingan_font';
    src: url('kagitingan_font.ttf');
}

@font-face {
    font-family: 'baybayin_font';
    src: url('baybayin_font.ttf');
}
