#page {
    height: 100vh;
    vertical-align: center;
    background-color: #EFE2BA;
}

html, body {
    background-color: #EFE2BA;
}

h1{
    color: #D79922;
    font-family: 'cubao_font', sans-serif;
}

.bank-buttons {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vh;
    justify-content: center;
    margin: 4em 0em 3em 1em;
    color: blue;
}

a {
    text-decoration: none;
    color: black;
}

.page{
    align-items: justify;
}

@font-face {
    font-family: 'cubao_font';
    src: url('cubao_font.ttf');
}

@font-face {
    font-family: 'quiapo_font';
    src: url('quiapo_font.ttf');
}

@font-face {
    font-family: 'kagitingan_font';
    src: url('kagitingan_font.ttf');
}

@font-face {
    font-family: 'baybayin_font';
    src: url('baybayin_font.ttf');
}