.balances {
    display: flex;
    align-items: center;
    height: 18vh;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: purple;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.boxes {
    width: 15vw;
}

.big-group {
    display: flex;
    height: 70vh;
    margin: 0.5rem 0rem;
}

.b {
    text-decoration: none;
    color: black;
}

.left-panel {
    width: 50%;
    height: 100%;
    background-color: yellow;
    margin: 0rem 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.right-panel {
    width: 50%;
    height: 100%;
    margin: 0rem 0.5rem;
    padding: 1rem;
    background-color: blue;
}

.groups {
    display: flex;
    width: auto;
    height: 21vh;
    background-color: green;
    padding: 0.75rem;
    margin: 0.45rem 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.icon {
    width: calc(30% - 4rem);
    /* Adjust the width based on the desired ratio */
    height: auto;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50%);
}

.text {
    width: calc(70% - 4rem);
    /* Adjust the width based on the desired ratio */
    font-size: 1.5rem;
    padding: 0% 2%;
    margin: 1rem 0rem 1rem 1rem;
}

.quote {
    font-size: clamp(1rem, 2vw, 1.5rem);
    /* Using clamp() for font size */
}

.t {
    height: 65%;
}

.conversion {
    height: 35%;
}

.currencies {
    color: white;
}