.balances {
    display: flex;
    align-items: center;
    height: 18vh;
    justify-content: center;
    padding: 0.25rem;
    background-color: #272727;
    color: #747474;
    font-family: 'cubao_font';

}

.boxes {
    width: 15vw;
    border-color: white;
}

.big-group {
    display: flex;
    height: 70vh;
}

.b {
    text-decoration: none;
    color: white;
}

.left-panel {
    width: 50%;
    height: 100%;
    background-color: #EFE2BA;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.right-panel {
    width: 50%;
    height: 100%;
    padding: 1rem;
    background-color: #EFE2BA;
}

.groups {
    display: flex;
    width: auto;
    background-color: #EFE2BA;
    margin: 0.45rem 0.5rem;
    font-family: 'quiapo_font', sans-serif;
    align-items: center;
}

.icon {
    width: calc(30% - 4rem);
    height: max-content;
    position: relative;
}

.icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.tint-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D79922;
    opacity: 100; /* Adjust the opacity as needed */
    mix-blend-mode: color; /* Apply blend mode */
}

.image_panel_right{
    background-color: #272727;
    background-size: cover; 
    background-position: center; 
    height: 1000px; 
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.image_panel_right img{
    width: 100%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}

.image_panel_left{
    background-color: white;
    background-size: cover; 
    background-position: center; 
    height: 1000px; 
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.image_panel_left img{
    width: 100%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}


.text {
    width: calc(70% - 4rem);
    /* Adjust the width based on the desired ratio */
    padding: 0% 2%;
    margin: 1rem 0rem 1rem 1rem;
    color: white;
}

@font-face {
    font-family: 'cubao_font';
    src: url('cubao_font.ttf');
}

@font-face {
    font-family: 'quiapo_font';
    src: url('quiapo_font.ttf');
}

@font-face {
    font-family: 'kagitingan_font';
    src: url('kagitingan_font.ttf');
}

@font-face {
    font-family: 'baybayin_font';
    src: url('baybayin_font.ttf');
}

.title{
    font-family: 'cubao_font', sans-serif;
    text-transform: uppercase;
}

.quote {
    font-size: clamp(1rem, 2vw, 1.5rem);
    /* Using clamp() for font size */
}

.t {
    height: 65%;
    font-family: 'quiapo_font', sans-serif;
}

.conversion {
    height: 35%;
}

.currencies {
    color: white;
}

.totalBalances {
    font-size: clamp(1rem, 1.5vw, 1.1rem)
}

.table-wrapper {
    max-height: 100px; /* Adjust to the desired maximum height */
    overflow-y: scroll; /* Add vertical scrollbar if needed */
}

table {
    width: 100%;
    border-collapse: separate;
}

th, td {
    border: 1px solid #f2f2f2;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: #F13C20;
}

tbody{
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

.scrollable-container {
    overflow: auto; /* or overflow: scroll; */
    display: flex;
}