#page {
    height: 100vh;
    vertical-align: center;
}

.bank-buttons {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vh;
    justify-content: center;
    margin: 4em 0em 3em 1em;
}

a {
    text-decoration: none;
    color: black;
}