{% extends 'main/userpage.html' %}

{% block title %}
Ipon Challenge
{% endblock %}

{% block stylesheet %}
"static/main/iponchallenge.css"
{% endblock %}

{% block content %}

<div class="flex-container">

	<div class = "centered_content">	

		<div class="big-group-title">
			<h1>Ipon Challenge</h1>
			<h3>Ipon Challange</h3>
		</div>

		<div class="big-group-contents">
			<form action = "iponchallenge" method = "post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
				{% if messages %}
					{% for message in messages %}
						<h4>{{ message }}</h4>
					{% endfor %}
				{% endif %}
			</form>
		</div>
		
	</div>

</div>

{% endblock %}