{% extends 'main/userbase.html' %}

{% block title %}
Adjustment
{% endblock %}

{% block stylesheet %}
"static/main/bank_account_actions.css"
{% endblock %}

{% block content %}

<div class="flex-container">
	<div class = "centered_content">
		<div class="big-group-title">
			<h1>Adjustment</h1>
			<h3>Adjustment</h3>
		</div>
		<div class="big-group-contents">
			<form action = "Adjustment" method = "POST">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
				{% if messages %}
					{% for message in messages %}
						<h4>{{ message }}</h4>
					{% endfor %}
				{% endif %}
			</form>
		</div>
		
	</div>
</div>


	
{% endblock %}