{% extends 'main/userbase.html' %}

{% block title %}
Transactions
{% endblock %}

{% block stylesheet %}
"static/main/transactions.css"
{% endblock %}

{% block content %}

    <h1 class="d-flex justify-content-center gap-3">Transaction History</h1>
        <!-- Filter form -->
    <div class="d-flex justify-content-center">
        <form method="post" class="text-center" style="font-size: 1.25em;">
        {% csrf_token %}    
            <label for="type">Transaction Type:</label>
            <select id="type" name="type" style="margin-right: 0.5rem;">
                <option value="">All</option>
                {% for type in types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            <label for="category">Category:</label>
            <select id="category" name="category" style="margin-right: 0.5rem;">
                <option value="">All</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
                <!-- etc. -->
            </select>
            <input type="submit" value="Filter" class="btn btn-outline-success" style="font-size: 1em; margin:1.05rem">
        </form>
    </div>
    </div>
    </div>
    <div class="t">
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Transaction</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>

            {% for t in last_transactions %}
                <tr>
                <td>{{ t.date }}</td>
                <td>{{ t.endBank }}</td>
                <td>{{ t.type }}</td>
                <td>{{ t.category }}</td>
                <td>{{ t.amount }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}