    {% extends 'main/userbase.html' %}

    {% block title %}
    Transactions
    {% endblock %}

    {% block stylesheet %}
    "static/main/userpage.css"
    {% endblock %}

    {% block content %}

<div class="scrollable-container"></div>
    <div class="balances">
        <!-- Bank Balances -->
        <!-- <h1>{{ ls.first_name }} {{ ls.last_name }}</h1>
            <h1>{{ ls.person.email_pin }}</h1> -->

            <div class="d-flex justify-content-center gap-3">
                {% for bank, amount in ls.person.bankaccounts.items %}
                {% if bank != "NONE" %}
                <div class="border border-dark border-4 p-3 boxes">
                    <h2 class="text-center">{{bank}}</h2>
                    <h3 class="text-center font-monospace">₱ {{amount.0}}</h3>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    </div>

    <div class="big-group">
        <section class="left-panel">
            <!-- Buttons -->
            <a href="{% url 'profile' %}" class="b">
                <div class="groups">
                    <!-- Update Profile -->
                    <div class="icon">
                        <!-- Icon -->
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsfegQZxyX-9Ip9uk0godyMrugx9YgDvgsGm8JbXL3BA&s" alt="alternatetext">
                    </div>
                    <div class="text">
                        <!-- Text -->
                        <h1 class="title" style="color: #6EFF00">Profile</h1>
                        <p class="quote">"{{q}}"</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'user_balances' %}" class="b">
                <div class="groups">
                    <!-- Update Profile -->
                    <div class="icon">
                        <!-- Icon -->
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/002/361/001/small/wallet-icon-free-vector.jpg" alt="alternatetext">
                    </div>
                    <div class="text">
                        <!-- Text -->
                        <h1 class="title" style="color:#FF652F">Bank Accounts</h1>
                        {% for type, amount in accounts.items %}
                            <span class="totalBalances">{{type}}: ₱ {{amount}}     </span>
                        {% endfor %}
                    </div>
                </div>
            </a>
            <a href="{% url 'iponchallenge' %}" class="b">
                <div class="groups">
                    <!-- Ipon Challenge -->
                    <div class="icon">
                        <!-- Icon -->
                        <img src="https://www.shutterstock.com/image-vector/piggy-bank-icon-vector-black-260nw-1505613449.jpg" alt="alternatetext">
                    </div>
                    <div class="text">
                        <!-- Text -->
                        <h1 class="title" style="color:#FFE400">Ipon Challenge</h1>
                        <p class="quote">Total: ₱ {{ls.person.bankaccounts.IPON.0}}</p>
                    </div>
                </div>
            </a>
        </section>

    </div>

    <div class="big-group">
        <section class="right-panel">
            
            <h1 class='title' style="color:#14A76C">Transaction History</h1>
            <!-- Table -->
            <div class="t">
                <table id = "transaction_history" class="table-wrapper">
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Transaction</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>

                {% for t in last_transactions %}
                    <tr>
                    <td>{{ t.date }}</td>
                    <td>{{ t.endBank }}</td>
                    <td>{{ t.type }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ t.amount }}</td>
                    </tr>
                {% endfor %}
            </table>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var table = document.getElementById("transaction_history");
                    var maxRows = 9; // Change this to the desired number of rows
            
                    // Get all rows in the table body
                    var rows = table.getElementsByTagName("tr");
                    
                    // Hide rows exceeding the maximum limit
                    for (var i = maxRows; i < rows.length; i++) {
                        rows[i].style.display = "none";
                    }
                });
            </script>
            

            </div>
            
            <div class="conversion">
                <h1 class='title' style="color:#FFE400">Money Conversion API</h1>
                {% for c, v in currencies.items %}
                    <p class="currencies" style="color: white;">PHP to {{c}} : {{v}}</p>
                {% endfor %}
            </div>
            
        </section>
    </div>
</div>


    {% endblock %}
