{% extends 'main/userbase.html' %}

{% block stylesheet %}
"static/main/userbalances.css"
{% endblock %}

{% block title %}
Balances
{% endblock %}

{% block content %}
<section id="page">

    <h1>Bank Accounts</h1>

    <div class="d-flex justify-content-center gap-3">
        <!-- Buttons -->
        {% for type in transaction_types %}
        <a href="{% url type %}"><button type="button" class="btn btn-outline-success bank-buttons">{{type}}</button></a>
        {% endfor %}
    </div>

    <div>
        <h1 class="d-flex justify-content-center gap-3">Current Balances</h1>
        {% for type, amount in accounts.items %}
        <div class="d-flex justify-content-center gap-3">
            <h2 class="balance_type">{{type}}:</h2>
            <h3 class="text-center font-monospace">₱ {{amount}}</h3>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}