{% extends 'main/userbase.html' %}

{% block title %}
Transactions
{% endblock %}

{% block username%}
{{ls.username}}
{% endblock %}

{% block content %}
<h1>{{ ls.first_name }} {{ ls.last_name }}</h1>
<h1>{{ ls.person.email_pin }}</h1>

<div class="d-flex justify-content-center gap-3">
    {% for bank, amount in ls.person.bankaccounts.items %}
    {% if bank != None %}
    <div class="border border-dark border-4 w-50 p-3">
        <h2 class="text-center">{{bank}}</h2>
        <h3 class="text-center font-monospace">{{amount}}</h3>
    </div>
    {% endif %}
    {% endfor %}
</div>

<table class="table table-striped">
    <tr>
        <th>Log ID</th>
        <th>Date</th>
        <th>Transaction Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Start Bank</th>
        <th>End Bank</th>
    </tr>

    {% for key, t in ls.person.moneytransactions.items %}
        <tr>
        <td>{{ key }}</td>
        <td>{{ t.date }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.startBank }}</td>
        <td>{{ t.endBank }}</td>
        </tr>
    {% endfor %}

</table>
{% endblock %}
