{% extends 'main/base.html' %}

{% block title %}
Login Page
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height:100vh; overflow:hidden;">
<form method="post" action="/login/">
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}  
    </div>

    <h1>CASHMOKO: Cash Kita</h1>
    <hr>
    {% csrf_token %}
    {{form|crispy}}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>
{% endblock %}