{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static "moneyapp/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{%url 'mainpage'%}"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"></span><span>CASHMOKO</span></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <h4 style="margin:1%">Welcome, {{ name }}</h4>
                <a class="btn btn-primary btn-sm" role="button" style="background: rgb(255,0,0);" href="{%url 'logout'%}">Sign Out</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-2" style="width: 200px;"><a class="btn btn-primary btn-sm" role="button" style="margin: 10px;width: 150px;height: 60px;text-align: center;" href="{%url 'userprofile'%}">User Profile</a></div>
            <div class="col-md-6 col-lg-9" style="width: 800px;">
                <p style="margin: 10px 0px 0px;"><strong>Hello, User!</strong></p>
                <p>"Motivational quote" - Motivated person</p>
            </div>
        </div>
    </div>
    <header class="bg-primary-gradient"></header>
    <section></section>
    <section></section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-2" style="width: 200px;"><a class="btn btn-primary btn-sm" role="button" style="margin: 10px;width: 150px;height: 60px;text-align: center;" href="{%url 'userbalances'%}">User Balance</a></div>
            <div class="col-md-6 col-lg-9" style="width: 800px;">
                <p style="margin: 10px 0px 0px;"><strong>Current Balances:</strong></p>
                <p>CASH: 0 (You're broke!!!! 🤣)</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-2" style="width: 200px;"><a class="btn btn-primary btn-sm" role="button" style="margin: 10px;width: 150px;height: 60px;text-align: center;" href="{%url 'useripon'%}">Ipon Challenge</a></div>
            <div class="col-md-6" style="width: 800px;">
                <p style="margin: 10px 0px 0px;"><strong>Ipon Challenge:</strong></p>
                <p>TOTAL: 0 (No money??? 🤨)</p>
            </div>
        </div>
    </div>
    <section class="py-5 mt-5"></section>
    <footer class="bg-primary-gradient"></footer>
</body>

</html>