{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CASHMOKO: Cash Kita</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "moneyapp/login.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body style="background-color:#fbf6f4b">
        <div class="formsection">
            <img src="" alt="">
            <form method="POST" action="{% url 'signup' %}" id="formdetails" onsubmit="return validateForm()">
                {% csrf_token %}

                <div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <h1>CASH MO KO,</h1>
                <h1>CASH KITA</h1>

                <input type="text" name="first_name" id="first_name" placeholder="Type First Name" class="textbox" required>
                <br>
                <input type="text" name="last_name" id="last_name" placeholder="Type Last Name" class="textbox" required>
                <br>
                <input type="text" name="username" id="username" placeholder="Type Username" class="textbox" required>
                <br>
                <input type="email" name="email" id="email" placeholder="Type Email" class="textbox" required>
                <br>
                <input type="password" name="password" id="password" placeholder="Type Password" class="textbox" required>
                <br>
                <button id="submitButton" type="submit" style="color: rgba(251,246,244,255); font-weight: 300 !important; font-size: 100%;">Submit</button>
                <p>Already have an account? Login <a href="{% url 'login' %}">here</a></p>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>
            function validateForm() {
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;

                if (username.trim() === "" || password.trim() === "") {
                    alert("Username and password cannot be empty. Please try again!");
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>
