{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Brand</title>
    <link rel="stylesheet" href="{% static "moneyapp/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{%url 'mainpage'%}"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"></span><span>CASHMOKO</span></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <h4 style="margin:1%">Welcome, {{ name }}</h4>
                <button class="btn btn-primary btn-sm" type="button" style="background: rgb(255,0,0);" onclick="location.href='{% url 'logout' %}'">Sign Out</button>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Welcome to balances. You have NO money.</p><a href="{%url 'mainpage'%}" style="color: rgba(255,0,0,0.75);">Back to Main Menu</a>
            </div>
        </div>
    </div>
    <section></section>
    <script src="{% static "moneyapp/bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>